@import "tailwindcss";

body {
    /* background-color: #1c1c1e; */
    background-color: #0c0c0c;
    color: white;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
